<div class="py-9 px-4 md:px-16">
  <div class="grid grid-cols-1 bg-White rounded-xl overflow-hidden md:grid-cols-2 max-w-3xl">
    <section>
      <img
        src="assets/image-product-mobile.jpg"
        alt="Image mobile"
        class="w-full md:hidden"
      >
      <img
        src="assets/image-product-desktop.jpg"
        alt="desktop logo"
        class="hidden md:block md:h-full"
      >
    </section>
    <section class="p-6 md:px-10 py-8 md:flex flex-col justify-between">
      <product-title></product-title>
      <product-paragraph></product-paragraph>
      <product-price></product-price>
      <section>
        <shared-button></shared-button>
      </section>
    </section>
  </div>

</div>